$blue1: #4a707a;
$blue2: #7697a0;
$blue3: #94b0b7;
$white1: #c2c8c5;
$white2: #ddddda;
$green: #5d9e8c;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    overflow-x: hidden;
    font-family: 'Baloo Chettan 2', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

:focus {
    outline: none;
}

@font-face {
    font-family: consolasty;
    src: url(../../../typography/consolas.ttf);
}